In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def get_education(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    section = soup.find("div", id="education")
    data = []

    if section:
        tables = section.find_all("table")
        for table in tables:
            rows = table.find_all("tr")
            for row in rows:
                cells = row.find_all(["th", "td"])
                row_data = [cell.get_text(strip=True) for cell in cells]
                if row_data:
                    data.append(row_data)

    if not data:
        print("‚ùå Aucun tableau trouv√© ou structure vide")
        return None

    # Premi√®re ligne = noms de colonnes
    colonnes = data[0]
    valeurs = [row for row in data[1:] if len(row) == len(colonnes)]  # üî• s√©curise les lignes valides

    # Cr√©ation du DataFrame
    df_education = pd.DataFrame(valeurs, columns=colonnes)

    # Remplacer les cellules vides par 0
    df_education = df_education.replace("", 0)

    return df_education

In [32]:
# Lire par chunks
chunksize = 50
reader = pd.read_csv("communes-france-2025.csv", dtype={"code_insee": str}, low_memory=False, chunksize=chunksize)

data_concat = []

for chunk_index, df_chunk in enumerate(reader):
    # Supprimer premi√®re colonne si elle est inutile
    if df_chunk.columns[0].startswith("Unnamed"):
        df_chunk = df_chunk.drop(df_chunk.columns[0], axis=1)

    # Filtrer les villes > 20k habitants
    filtered_source = df_chunk[df_chunk["population"] >= 20000]

    for i in range(filtered_source.shape[0]):
        code_insee = filtered_source["code_insee"].iloc[i]
        ville = filtered_source["nom_sans_accent"].iloc[i]

        url = f"https://www.linternaute.com/ville/{ville}/ville-{code_insee}/education"
        recherche = get_education(url)
        if recherche is not None:
            recherche["code_insee"] = code_insee
            recherche["Ville"] = ville
            data_concat.append(recherche)

            print("‚úÖ Ligne ajout√©e au DataFrame :")
            print(f"{ville} : {code_insee}")
            print("------------------------------------------------------------")

print("Recherches termin√©es")
# Concat final
df_final = pd.concat(data_concat, ignore_index=True)

scolarises = [
    "2 - 5 ans", "6 - 10 ans", 
    "11 - 14 ans", "15 - 17 ans",
    "18 - 24 ans", "25 - 29 ans",
    "30 ans et plus"
]

non_scolarises = [
    "Aucun dipl√¥me", "Brevet des coll√®ges", "CAP / BEP",
    "Baccalaur√©at / brevet professionnel", "De Bac +2 √† Bac +4", "Bac +5 et plus",
]

# On initialise la colonne
df_final["type"] = df_final.iloc[:, 0].apply(
    lambda x: "Scolaris√©s" if x in scolarises else "Diplome"
)

‚úÖ Ligne ajout√©e au DataFrame :
bourg-en-bresse : 01053
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
oyonnax : 01283
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
laon : 02408
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-quentin : 02691
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
soissons : 02722
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
montlucon : 03185
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vichy : 03310
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
manosque : 04112
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
gap : 05061
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
antibes : 06004
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cagnes-sur-mer : 06027
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cannes : 06029
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
le-cannet : 06030
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
grasse : 06069
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
mandelieu-la-napoule : 06079
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
menton : 06083
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
nice : 06088
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-laurent-du-var : 06123
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vallauris : 06155
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
charleville-mezieres : 08105
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
troyes : 10387
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
carcassonne : 11069
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
narbonne : 11262
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
millau : 12145
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
rodez : 12202
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
aix-en-provence : 13001
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
allauch : 13002
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
arles : 13004
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
aubagne : 13005
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
la-ciotat : 13028
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
gardanne : 13041
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
istres : 13047
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
marignane : 13054
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
marseille : 13055
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
martigues : 13056
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
miramas : 13063
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
les-pennes-mirabeau : 13071
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
salon-de-provence : 13103
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vitrolles : 13117
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
caen : 14118
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
herouville-saint-clair : 14327
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
aurillac : 15014
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
angouleme : 16015
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
rochefort : 17299
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
la-rochelle : 17300
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saintes : 17415
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bourges : 18033
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vierzon : 18279
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
brive-la-gaillarde : 19031
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
beaune : 21054
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
dijon : 21231
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lannion : 22113
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-brieuc : 22278
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bergerac : 24037
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
perigueux : 24322
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
besancon : 25056
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
montbeliard : 25388
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
montelimar : 26198
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
romans-sur-isere : 26281
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
valence : 26362
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
evreux : 27229
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vernon : 27681
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
chartres : 28085
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
dreux : 28134
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
brest : 29019
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
concarneau : 29039
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
quimper : 29232
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
ajaccio : 2A004
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bastia : 2B033
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
ales : 30007
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
nimes : 30189
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
blagnac : 31069
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
colomiers : 31149
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cugnaux : 31157
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
muret : 31395
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
toulouse : 31555
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
tournefeuille : 31557
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
auch : 32013
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
begles : 33039
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bordeaux : 33063
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
le-bouscat : 33069
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bruges : 33075
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cenon : 33119
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
eysines : 33162
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
gradignan : 33192
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
gujan-mestras : 33199
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
libourne : 33243
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lormont : 33249
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
merignac : 33281
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
pessac : 33318
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-medard-en-jalles : 33449
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
talence : 33522
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
la-teste-de-buch : 33529
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
villenave-d-ornon : 33550
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
agde : 34003
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
beziers : 34032
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
castelnau-le-lez : 34057
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
frontignan : 34108
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lunel : 34145
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
montpellier : 34172
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
sete : 34301
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
fougeres : 35115
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
rennes : 35238
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-malo : 35288
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
chateauroux : 36044
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
joue-les-tours : 37122
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
tours : 37261
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bourgoin-jallieu : 38053
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
echirolles : 38151
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
fontaine : 38169
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
grenoble : 38185
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-martin-d-heres : 38421
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vienne : 38544
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
voiron : 38563
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
dole : 39198
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
dax : 40088
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
mont-de-marsan : 40192
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
blois : 41018
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
roanne : 42187
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-chamond : 42207
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-etienne : 42218
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
bouguenais : 44020
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
carquefou : 44026
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
la-chapelle-sur-erdre : 44035
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
coueron : 44047
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
nantes : 44109
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
orvault : 44114
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
reze : 44143
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-herblain : 44162
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-nazaire : 44184
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-sebastien-sur-loire : 44190
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vertou : 44215
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
fleury-les-aubrais : 45147
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
olivet : 45232
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
orleans : 45234
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-jean-de-braye : 45284
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cahors : 46042
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
agen : 47001
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
villeneuve-sur-lot : 47323
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
angers : 49007
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
beaupreau-en-mauges : 49023
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
chemille-en-anjou : 49092
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cholet : 49099
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
sevremoine : 49301
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saumur : 49328
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cherbourg-en-cotentin : 50129
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
chalons-en-champagne : 51108
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
epernay : 51230
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
reims : 51454
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
chaumont : 52121
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
saint-dizier : 52448
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
laval : 53130
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
nancy : 54395
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vandoeuvre-les-nancy : 54547
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lanester : 56098
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lorient : 56121
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
vannes : 56260
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
forbach : 57227
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
metz : 57463
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
montigny-les-metz : 57480
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
sarreguemines : 57631
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
thionville : 57672
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
nevers : 58194
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
villeneuve-d-ascq : 59009
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
armentieres : 59017
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
cambrai : 59122
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
coudekerque-branche : 59155
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
croix : 59163
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
denain : 59172
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
douai : 59178
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
dunkerque : 59183
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
grande-synthe : 59271
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
halluin : 59279
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
hazebrouck : 59295
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lambersart : 59328
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :
lille : 59350
------------------------------------------------------------
‚úÖ Ligne ajout√©e au DataFrame :

In [33]:
df_final = df_final[df_final["Donn√©es 2021"] != "Donn√©es 2021"]
df_final.to_csv("education1.csv", index=False, encoding="utf-8-sig", sep=";")

In [ ]:
df_ecole = pd.read_csv("education1.csv")

In [38]:
df_ecole = pd.read_csv("education.csv")

# Liste des types d'√©tablissements scolaires
types_etablissements = [
    "Ecoles maternelles",
    "Ecoles √©l√©mentaires",
    "Coll√®ges",
    "Lyc√©es g√©n√©raux",
    "Lyc√©es professionnels",
    "Lyc√©es agricoles",
    "Etablissements avec classes pr√©paratoires aux grandes √©coles",
    "Ecoles de formation sanitaire et sociale",
    "Ecoles de commerce, gestion, administration d'entreprises, comptabilit√©, vente",
    "Unit√©s de formation et de recherche (UFR)",
    "Instituts universitaires (IUP, IUT et IUFM)",
    "Ecoles d'ing√©nieurs",
    "Etablissements de formation aux m√©tiers du sport",
    "Centres de formation d'apprentis (hors agricoles)",
    "Centres de formation d'apprentis agricoles",
    "Autres √©coles d'enseignement sup√©rieur",
    "Autres formations post-bac non universitaire"
]

# Suppose que ton DataFrame s'appelle df et que la colonne √† filtrer s'appelle 'Label'
df_filtered = df_ecole[df_ecole['Donn√©es 2021'].isin(types_etablissements)]

df_filtered = df_filtered.iloc[:, :-1]

df_filtered.to_csv("ecole.csv", index=False, encoding="utf-8-sig", sep=";")

In [40]:
dff = pd.read_csv("ecole.csv", sep=";")
dff

,Donn√©es 2021,Personnes scolaris√©es,code_insee,Ville
0,Ecoles maternelles,2,01053,bourg-en-bresse
1,Ecoles √©l√©mentaires,21,01053,bourg-en-bresse
2,Coll√®ges,7,01053,bourg-en-bresse
3,Lyc√©es g√©n√©raux,4,01053,bourg-en-bresse
4,Lyc√©es professionnels,4,01053,bourg-en-bresse
...,...,...,...,...
8172,Etablissements de formation aux m√©tiers du sport,0,97422,le-tampon
8173,Centres de formation d'apprentis (hors agricoles),13,97422,le-tampon
8174,Centres de formation d'apprentis agricoles,1,97422,le-tampon
8175,Autres √©coles d'enseignement sup√©rieur,0,97422,le-tampon
8176,Autres formations post-bac non universitaire,0,97422,le-tampon

In [42]:
dfff = pd.read_csv("education1.csv", sep=";")
dfff

,Donn√©es 2021,Personnes scolaris√©es,% de la population scolaris√©e,Moyenne des¬†villes,code_insee,Ville,Donn√©es nc,type
0,2 - 5 ans,1¬†235,"13,5 %","15,6 %",01053,bourg-en-bresse,NaN,Scolaris√©s
1,6 - 10 ans,2¬†228,"24,3 %","29,2 %",01053,bourg-en-bresse,NaN,Scolaris√©s
2,11 - 14 ans,1¬†764,"19,3 %","24,9 %",01053,bourg-en-bresse,NaN,Scolaris√©s
3,15 - 17 ans,1¬†421,"15,5 %","18,4 %",01053,bourg-en-bresse,NaN,Scolaris√©s
4,18 - 24 ans,2¬†117,"23,1 %","9,1 %",01053,bourg-en-bresse,NaN,Scolaris√©s
...,...,...,...,...,...,...,...,...
6276,NaN,nc,nc,"5,5 %",97611,mamoudzou,Brevet des coll√®ges,Non scolaris√©s
6277,NaN,nc,nc,"29,3 %",97611,mamoudzou,CAP / BEP,Non scolaris√©s
6278,NaN,nc,nc,"18,8 %",97611,mamoudzou,Baccalaur√©at / brevet professionnel,Non scolaris√©s
6279,NaN,nc,nc,"19,8 %",97611,mamoudzou,De Bac +2 √† Bac +4,Non scolaris√©s
6280,NaN,nc,nc,"6,5 %",97611,mamoudzou,Bac +5 et plus,Non scolaris√©s

In [52]:
dfff = dfff[dfff["Donn√©es 2021"].notna()]
dfff = dfff.drop(columns="Donn√©es nc")

In [53]:
dfff

,Donn√©es 2021,Personnes scolaris√©es,% de la population scolaris√©e,Moyenne des¬†villes,code_insee,Ville,type
0,2 - 5 ans,1¬†235,"13,5 %","15,6 %",01053,bourg-en-bresse,Scolaris√©s
1,6 - 10 ans,2¬†228,"24,3 %","29,2 %",01053,bourg-en-bresse,Scolaris√©s
2,11 - 14 ans,1¬†764,"19,3 %","24,9 %",01053,bourg-en-bresse,Scolaris√©s
3,15 - 17 ans,1¬†421,"15,5 %","18,4 %",01053,bourg-en-bresse,Scolaris√©s
4,18 - 24 ans,2¬†117,"23,1 %","9,1 %",01053,bourg-en-bresse,Scolaris√©s
...,...,...,...,...,...,...,...
6248,Brevet des coll√®ges,3¬†276,"5,8 %","5,5 %",97422,le-tampon,Non scolaris√©s
6249,CAP / BEP,11¬†561,"20,6 %","29,3 %",97422,le-tampon,Non scolaris√©s
6250,Baccalaur√©at / brevet professionnel,9¬†915,"17,7 %","18,8 %",97422,le-tampon,Non scolaris√©s
6251,De Bac +2 √† Bac +4,8¬†338,"14,9 %","19,8 %",97422,le-tampon,Non scolaris√©s
6252,Bac +5 et plus,2¬†467,"4,4 %","6,5 %",97422,le-tampon,Non scolaris√©s

In [54]:
dfff.to_csv("education1.csv", index=False, encoding="utf-8-sig", sep=";")